<% if @stats.has_key?("error") %>
  <p><%= @stats["error"] %></p>
<% else %>
  <h2><%= @player.first_name + " " + @player.last_name %></h2>
  <div class="row-fluid" id="profile">
    <img id="profile-img" src="<%= @profile['PhotoUrl'] %>" />
    <div id="player-info" class="span4">
      <%= render "player-info" %>
      <ul id="score-list">
        <% @user.football_leagues.each do |league| %>
          <li><strong><%= "#{league.name.upcase} score is #{@player.scores(@stats, league)}" %></strong></li>
        <% end %>
      </ul>
    </div>
    <div class="span6">
      <%= render "calculate-stats-tables" %>
    </div>
  </div>
<% end %>
<div class="btn-group">
  <%= link_to "Back to player select", user_calculate_index_path(@user), :class => "btn" %>
  <%= link_to "Back to user profile", user_path(@user), :class => "btn" %>
  <%= link_to "Back to player profile", user_football_player_path(@user, @player), :class => "btn" %>
</div>