<h2><%= @player.first_name + " " + @player.last_name %></h2>
<img src="<%= @profile['PhotoUrl'] %>" />
<p>Birth Date: <%= @profile["BirthDateString"] %></p>
<p>Age: <%= @profile["Age"] %></p>
<p>College: <%= @profile["College"] %></p>
<p>Experience: <%= @profile["ExperienceString"] %></p>

<div id="stats"></div>

<%= form_tag("/users/#{@user.id}/football_players", :method => "post") do %>
  <%= text_field_tag("stats[year]", nil, :placeholder => "Year") %>
  <%= text_field_tag("stats[week]", nil, :placeholder => "Week") %>
  <%= hidden_field_tag("stats[player_id]", "#{@player.player_id}") %>
  <%= submit_tag "Calculate" %>
<% end %>
