<h2><%= @player.first_name + " " + @player.last_name %></h2>
<img src="<%= @profile['PhotoUrl'] %>" />
<p>Birth Date: <%= @profile["BirthDateString"] %></p>
<p>Age: <%= @profile["Age"] %></p>
<p>College: <%= @profile["College"] %></p>
<p>Experience: <%= @profile["ExperienceString"] %></p>

<div id="stats"></div>

<form action="/users/<%= @user.id %>/football_players" class="new_post" id="new_post" method="post">
  <input type="text" name="stats[year]" id="stats-year" placeholder="Year" />
  <input type="text" name="stats[week]" id="stats-week" placeholder="Week" />
  <input type="hidden" name="stats[player_id]" value="<%= @player.player_id %>">
  <button type="submit" id="stats-submit" class="btn">Calculate</button>
</form>
