<p><%= @profile["Season"] %> Season</p>
<table class="table table-bordered">
  <thead>
    <th>Int</th>
    <th>Spec. Team TD</th>
    <th>Kick Ret. Yds</th>
    <th>Punt Ret. Yds</th>
    <th>Fumbles Rec.</th>
  </thead>
  <tr>
    <td><%= @profile["Interceptions"] %></td>
    <td><%= @profile["SpecialTeamsTouchdowns"] %></td>
    <td><%= @profile["KickReturnYards"] %></td>
    <td><%= @profile["PuntReturnYards"] %></td>
    <td><%= @profile["FumblesRecovered"] %></td>
  </tr>
</table>